* {
  font-family: sans-serif;
}

.dash-content {
  max-width: 90rem;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav Bar */
.nav-bar {
  position: absolute;
  width: 92rem;
  height: 4.5rem;
  left: 0px;
  top: 0.02875rem;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(193, 199, 208, 0.4);
}

.nav-content {
  position: absolute;
  height: 32px;
  left: 1.67%;
  right: 1.67%;
  top: calc(50% - 32px / 2);
}

/* Avatar */
.avatar {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 0rem;
  top: 0rem;
  border-radius: 6.5625rem;
}

/* TM Dashboard */
.tm {
  position: absolute;
  width: 6.6875rem;
  height: 1.5rem;
  left: 14.0625rem;
  top: calc(50% - 1.5rem / 2);
  font-style: normal;
  font-weight: 450;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #091e42;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0rem 1rem;
}

/* Separator */
.separator {
  position: absolute;
  width: 0.0625;
  left: 13rem;
  top: 0.25rem;
  bottom: 0.25rem;
  background: #c1c7d0;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0rem 1rem;
}

/* Logo */
.logo {
  position: absolute;
  width: 9rem;
  height: 1.5rem;
  left: 3rem;
  top: 0.25rem;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0rem 1rem;
}

/* Menu Bar */
.menu-bar {
  position: static;
  width: 2rem;
  height: 2rem;
  left: 0rem;
  top: 0rem;
  /* flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0rem 1rem; */
}

/* Welcome Avatar */

.welcome-avatar {
  position: absolute;
  width: 6rem;
  height: 6rem;
  left: 9.75rem;
  top: 10.5rem;
  border-radius: 6.5625rem;
}

/* Welcome Section */
.welcome {
  width: 28.6875rem;
  left: 9.75rem;
  right: 51.5625rem;
  top: 17.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome h1 {
  position: absolute;
  height: auto;
  width: 28.6875rem;
  left: 9.75rem;
  right: 51.5625rem;
  top: 17.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 2.1875rem;
  line-height: 2.5rem;
  display: flex;
  align-items: center;
  color: #091e42;
}

.welcome p {
  position: absolute;
  width: auto;
  height: auto;
  left: 9.75rem;
  top: 21rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #000000;
}

.todo h3 {
  position: absolute;
  width: auto;
  height: 2rem;
  left: 9.75rem;
  top: 26rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #172b4d;
}

.todo-box1 {
  position: absolute;
  width: 46.5rem;
  height: 5rem;
  left: 9.75rem;
  top: 28.5rem;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 1px;
  color: #172b4d;
}

.emp-perf {
  text-align: center;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 4rem;
  margin-top: 2rem;
  position: absolute;
}

.todo-box2 {
  position: absolute;
  width: 46.5rem;
  height: 5rem;
  left: 9.75rem;
  top: 34rem;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 1px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  color: #172b4d;
}

.quart-rev {
  text-align: center;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 4rem;
  margin-top: 2rem;
  position: absolute;
}

/* Circle */
.circle1 {
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 0rem;
  top: 0rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  background: #f3f3f3;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 1rem;
}

.circle2 {
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 0rem;
  top: 0rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  background: #f3f3f3;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 1rem;
}

/* label */
.begin {
  position: absolute;
  width: auto;
  height: 2rem;
  left: 0rem;
  top: 0rem;
  margin-left: 41.9375rem;
  margin-top: 1.5rem;
  cursor: pointer;
  color: #0052cc;
  background-color: #ffffff;
  border: none;
}

.resume {
  position: absolute;
  width: 4.2rem;
  height: 2rem;
  left: 40.3125rem;
  top: 0rem;
  margin-top: 1.5rem;
  margin-inline: 0.75rem 0.375rem;
  cursor: pointer;
  color: #172b4d;
  font-size: 0.85rem;
}

@media screen and (max-width: 768px) {
  .dash-content {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .welcome {
    left: auto;
    right: auto;
    top: 8rem;
    margin: 0;
    width: auto;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .welcome h1 {
    width: auto;
    height: 2.5rem;
    position: relative;
    left: 3rem;
    right: auto;
    top: 7rem;
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }

  .welcome p {
    width: auto;
    height: 2.5rem;
    position: relative;
    left: 3rem;
    right: auto;
    top: 10rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .welcome-avatar {
    position: absolute;
    width: 6rem;
    height: 6rem;
    left: auto;
    top: auto;
    border-radius: 6.5625rem;
  }

  .todo h3 {
    left: 3rem;
  }

  .todo-box1 {
    left: 3rem;
    width: 20rem;
  }

  .emp-perf {
    margin-left: 2.5rem;
  }

  .circle1 {
    margin-left: 0.5rem;
  }

  .todo-box2 {
    left: 3rem;
    width: 20rem;
  }

  .quart-rev {
    margin-left: 3rem;
  }

  .circle2 {
    margin-left: 0.5rem;
  }

  .begin {
    margin-left: 15rem;
    margin-top: 2.9rem;
    padding: 0rem;
  }

  .resume {
    margin-left: -25rem;
    margin-top: 1.5rem;
    padding: 0rem;
  }
}
