body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: auto;
  width: 91rem;
}

.sign-in-page {
  display: block;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 0rem;
  height: 31.5625%;
  color: #091e42;
  width: 90rem;
}

.sign-in-logo {
  position: static;
  left: 18.75%;
  right: 18.75%;
  top: 0%;
  bottom: 93.29%;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4rem 0rem;
}

.login-form {
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 26.3125rem;
  text-decoration: none;
  outline: none;
  box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.15);
  position: absolute;
  top: 10rem;
  left: 34%;
}

.login-info h3 {
  margin-top: 3rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.login-info p {
  margin-top: 0rem;
  padding: 0.5rem;
  font-size: 0.875rem;
}

.name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 2rem;
}
.user-email {
  display: block;
  font-size: 0.8rem;
}

.password-info {
  margin-top: 1.5rem;
  margin-left: 2.5rem;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
}

input {
  /* display: block; */
  width: 25rem;
  height: 2.5rem;
  padding: 8px, 12px, 8px, 12px;
  border: 1px solid #dfe1e6;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  position: static;
  left: calc(50% - 400px / 2);
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 10px 0px;
  cursor: pointer;
}

.login-btn {
  display: flex;
  position: relative;
  left: calc(50% - 400px / 2);
  margin-top: 1.5rem;
  width: 25rem;
  height: 2.5rem;
  text-align: center;
  padding-left: 11rem;
  font-size: 1rem;
}

.login-btn:hover {
  background-color: #0052cc;
  color: #ffffff;
}

hr {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 25rem;
  text-align: center;
  margin-left: 2.5rem;
}

.forgot-password {
  color: #0052cc;
  font-size: 0.875rem;
}

.signIn-footer {
  width: 91rem;
  height: 23.455625rem;
  position: absolute;
  top: 18rem;
  left: 0rem;
}
